package components

templ Footer() {
	<p class="footer">
		&copy; 2026 WhaleLogic |
		Created by <a href="https://keiththomson.dev" style="text-decoration: none;"> Keith Thomson</a> |
      <a href="/analytics" style="text-decoration: none;">Analytics</a> | 
      <a href="/about" style="text-decoration: none;">About</a>
	</p>
}
