package components

templ Footer() {
	<p class="footer">
		&copy; 2026 WhaleLogic. All rights reserved. |
		🐟 <a href="https://keiththomson.dev">Keith Thomson</a> |
		<a href="https://github.com/whalelogic" class="gh-link">
			<img src="./icons/devicon-master/icons/github/github-original.svg" alt="GitHub" width="16" height="16"/>
			WhaleLogic &trade;
		</a>
	</p>
}
