package components

templ Header() {
	<div class="home-intro">
		<p>
        <a href="https://go.dev"><b>Go</b></a> is an open source programming language designed for
        building scalable, secure, and reliable software. It combines the performance of C with memory safety, 
        garbage collection, concurrency, and a <b>strong</b> type system.
    </p>
    <p>
        <span class="brand-name">How to Go</span> is a modern, hands-on reference for the language. 
        It guides you from basic syntax to advanced patterns, types, and idioms using annotated example programs. Go is a great langauge to learn.🌶️</p>
	</div>
}
