package components

templ Header() {
	<div class="home-intro">
		<p>
        <a href="https://go.dev"><b>Go</b></a> is an open source programming language designed for
        building scalable, secure, and reliable software. Go combines the performance of C with features like 
        <b>garbage collection</b>, <b>concurrency</b>, and a <b>strong</b> type system.
    </p>
    <p style="margin-top: 1em;">
    <span class="brand-name">How to Go</span> is a modern, hands-on language reference. Master everything from syntax to advanced patterns through annotated examples. Start coding with Hello World.🌶️
</p>
	</div>
}
