package components

templ Footer() {
	<p class="footer">
		by <a href="https://keiththomson.dev">Keith Thomson</a> |
		<a href="https://github.com/whalelogic" class="gh-link">
			<img src="./icons/devicon-master/icons/github/github-original-wordmark.svg" alt="GitHub" width="16" height="16"/>
			WhaleLogic
		</a> |
		<a href="#">license MIT</a>
	</p>
}
